html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
}

:root {
  --blue50: #e3f2fd;
  --blue100: #bbdefb;
  --blue200: #90caf9;
  --blue300: #64b5f6;
  --blue400: #42a5f5;
  --blue500: #2196f3;
  --blue600: #1e88e5;
  --blue700: #1976d2;
  --blue800: #1565c0;
  --blue900: #0d47a1;
  --bluea100: #82b1ff;
  --bluea200: #448aff;
  --bluea400: #2979ff;
  --bluea700: #2962ff;
  --white: #fff;
  --grey50: #fafafa;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
  --red50: #ffebee;
  --red100: #ffcdd2;
  --red200: #ef9a9a;
  --red300: #e57373;
  --red400: #ef5350;
  --red500: #f44336;
  --red600: #e53935;
  --red700: #d32f2f;
  --red800: #c62828;
  --red900: #b71c1c;
  --reda100: #ff8a80;
  --redea200: #ff5252;
  --reda400: #ff1744;
  --reda700: #d50000;
  --green: #1fd09b;
  --darkgreen: #00b27d;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;

  line-height: 1.1;
}

 
.ytp-watermark {display: none;}

.copy-btn:hover {
  box-shadow: none;
  transition: .3s ease-in;
  transform: translateY(-5px);
}
.copy-btn {
  padding: 1.5rem 2.7rem;

  font-size: 20px;

  color: var(--white);
  cursor: pointer;

  background: linear-gradient(97.04deg, #e406a2 2.46%, #9802ce 101.01%);
  border: 3px solid #ffffff;
 
  border-radius: 30px 0px;
  transition: .3s ease-in-out;
  box-shadow: 0px 30px 40px -12px rgba(162, 3, 201, 0.5);
  
}

.icon-wave::after {
  display: block;
  content: "";

  width: 53px;
  height: 8px;

  margin-top: 20px;

 background-color: var(--grey900);
}

// SECTION_GRAPHIC_ELEMENT
.decor-section-1,
.decor-section-2,
.decor-section-3,
.decor-section-4{
  background-repeat: no-repeat;
  background-position:0;
  background-size: contain;
}



.decor-section-1 { 
  background-image: url('../img/decorative-elemet-section-1.png');
  background-position: -210px -100px;
  background-size: contain;
  padding-top: 300px;

  z-index: -1;
}
.decor-section-2 {
  background-image: url('../img/decorative-elemet-section-2.png');
  background-position: 0 260px;
}

.decor-section-3 {
  background-image: url('../img/decorative-elemet-section-3.png');
  background-position: -10px 20px;
}


 
.decor-section-4 {
  background-image: url('../img/decorative-elemet-section-4.png');
  background-position: -520px 110px;

}



.main-slider-content {position: relative;}


.copy-hero-section {
 padding-bottom: 4rem;
 
  & h1 {font-size: 3.125rem;}
  & p {font-size: 30px;}

  .copy-header {
    color: #100531;
  

    transition: .2s ease-in-out;

    .narrow--container {max-width: 440px;}
    .copy-description {
      color: #565656;
      font-size: 20px;
    }
    .icon-money::before {
      display: inline-block;
      content: "";

      width: 20px;
      height: 20px;

      background-image: url("../img/icon-money.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

}
 


.copy-features-section {
  margin-bottom: 100px;
 
  &.shou::before {left: 24%;}

  .copy-features-header{position: relative;}
  .copy-features-header::before {
   position: absolute;
   content: '';

   top: 0;
   right: 310px;
 
   width: 40px;
   height: 60px;
 
   background-image: url('../img/icon-up.svg');
   background-repeat: no-repeat;
   }
  .copy-features-header {
    h2 {
      font-size: 2.5rem;
      padding-left: 100px;
    }
     h2 > p {
      font-size: 20px;
      font-weight: 400;
    }
  }


  .copy-features-list .copy-features-item:first-child {margin-top: 100px;}
  .copy-features-list .copy-features-item:nth-child(2) {margin-top: 40px;}
  .copy-features-list .copy-features-item:last-child  {
    .copy-header p::before {
      display: block;
      content: '';

      width: 80%;
      height: 50px;

      margin: 0 40px;
      margin-bottom: 20px;
 
      background-image: url('/img/trading-platform-logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .copy-header p { 
      text-align: left;
      font-size: 18px;
      line-height: 1.3;
    }

    .copy-body .copy-btn {
      display: block;
      margin: 0 auto;
      padding-left: 1.5rem;

    }
  }

  .copy-features-item {
    transform: translateY(0);
    transition: .4s ease-in-out;
  }

  .copy-features-item:hover {
    transform: translateY(-20px);
    transition: .4s ease-in;
  }
     

  .copy-features-list {
    list-style: none;
    padding: 0;

     display: grid;
     grid-template-columns: repeat(4, 268px);
     gap: 20px;



     

     .copy-features-item:last-child {background:none;}
     .copy-features-item {
       position: relative;
       z-index: 1; 

       background-color: #fff;
     } 
   
      
 
     .copy-features-item::before {
       position: absolute;
       content: '';
 
      top: -170px;
      left: 130px;

       font-size: 200px;
       font-weight: 900;

       color: #FBFBFB; 
       z-index: -1;
     }

     .copy-features-item:first-child::before { content: '1';}
     
     .copy-features-item:nth-child(2)::before { content: '2'; }

     .copy-features-item:nth-child(3)::before { content: '3';}

    .copy-features-item:first-child {
      box-shadow: 0px 20px 30px -20px rgba(33, 150, 243, 0.3);
      height: max-content;
      z-index: 2;
    
    }

    .copy-features-item:nth-child(2) {
      box-shadow: 0px 20px 30px -20px rgba(255, 153, 0, 0.5);
      height: max-content;  
    }

    .copy-features-item:nth-child(3) {
      box-shadow: 0px 20px 30px -20px rgba(179, 4, 191, 0.3);
      height: max-content;   
    }


    .copy-features-item:last-child {
      box-shadow: 0px 20px 30px -20px rgba(179, 4, 191, 0.3);
      border-radius: 5px; 
      height: max-content;
      background: var(--white);
      height: 320px;

      .copy-header {
        height: 205px;

        background-color: #4CD964;

        padding: 20px;
        border-radius: 16px;
        border: 2px solid #FFFFFF;

      }
      .copy-body {padding: 0;}
    }

    .copy-features-item {
     .product-card {
      width: 270px;
      height: 205px;

      border: 3px solid #fff;
      box-sizing: border-box;
      border-radius: 16px;
     }
      .copy-body {
        padding: 20px 20px 40px;
        .copy-features-heading {
          max-width: 156px;
          
          font-size: 20px;

          color: #100531;
        }
        .copy-features-description {
          font-size: 1rem;
        }
      }
    }
  }
}

// DECOR_ELEMENT_PAGE
.shou {  position: relative;}
.shou::before {
  position: absolute;
  top: 0;
  right: 30%;

   content: '';
 
   width: 100px;
   height: 100px;
    
   background-image: url('/img/pips-vawe.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   opacity: .1;

 
 }
 

.copy-trading-platform-section {
  margin-bottom: 100px;
  padding: 80px;


 
 

  .first-row {margin-bottom: 70px;} 

 
  .copy-trading-platform-header {
    
    padding-top: 200px;
    font-size: 1rem;
    
    h2 {font-size: 3rem;}
    .copy-trading-platform-description {max-width: 455px;}
  }
  .copy-trading-platform-banner {
    & .img-bg::after{
      display: block;
      content: '';

      width: 284px;
      height: 413px;

      background-color: #2196F3;
      border-radius: 32px;
     
    }
  }


.copy-trading-platform-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.copy-trading-platform-features-list {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 70px;

  text-align: left;

  justify-items: center;
  align-items: center;
 

  max-width: 455px;

  list-style: none;
  padding: 0;

  .copy-trading-platform-features-item {position: relative;}
  .copy-trading-platform-features-item::before{
    position: absolute;
    top: 0;
    left: -70px;
    content: '';

    width: 44px;
    height: 85px;

    background: #C4C4C4;
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 36px 36px 30px -20px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    transition: .3s ease-in;
  }

  .icon-user-trader::after,
  .icon-watch::after,
  .copy-trading-platform-features-item::after{
    position: absolute;
    width: 34px;
    height: 46px;
   
    top: 34px;
    left: -65px;
    content: '';

    background: #ffffff;
    border-radius: 100px;

    
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s ease-in;
  }
 
  .copy-trading-platform-features-item:hover::before {
    background-color: #fff; 
     transition: .3s ease-in-out;
   }
   
  .icon-computer::after {background-image: url('../img/icon-computer.svg');}
  .icon-computer:hover::after {
    top: 6px;
    background-color:#4CD964;
    transition: .3s ease-in-out;
  } 

  .icon-user-trader::after {background-image: url('../img/icon-user-trader.svg');}
  .icon-user-trader:hover::after {
    top: 6px;
    background-color:#E406A2;
    transition: .3s ease-in-out;
  } 
  .icon-watch::after{background-image: url('../img/icon-watch.svg');}
  .icon-watch:hover::after {
    top: 6px;
    background-color:#FF9900;
    transition: .3s ease-in-out;
  } 
   

  .copy-trading-platform-features-item {
    width: 365px;

        .copy-trading-platform-features-body {
          color: #100531;

          h2 {line-height: .6;}
          span {
            font-size: 1rem;
            font-weight: 400;
          }
        }
  }
}

}

.copy-how-it-work-section {
  padding-top: 2rem;
  margin-bottom: 100px;

  &.shou::before {left: 24%; }

  
  .bullet-point {display: none;}

  .copy-how-it-work-header {
    padding-left: 100px;
    margin-bottom: 70px;

    p {
      max-width: 320px;

      font-size: 1rem;
      font-weight: 400;
    }
  }

  .copy-how-it-work-slider  {
    overflow: hidden;

  .active-slide-container{
    height: 371px;
    color: var(--white);
    background-color: #0F082E;
  
    border-radius: 20px;
    border: 4px solid #fff;
    margin: 10px;
    cursor: pointer;
    color: #ffff;

    flex: 1;

    padding: 1rem;
    transition: all 500ms ease-in-out;

    overflow: hidden;

  }




.primary-state h2{font-size: 50px;}
.primary-state p {font-size: 20px;}
.primary-state-header p {font-size: 12px;}

.icon::before {
  display: block;
  content: '';

  width: 35px;
  height: 40px;

  margin: 0 auto;
  margin-bottom: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.money::before {background-image: url('../img/icon-money.svg'); }
.hand::before {background-image: url('../img/icon-hand-shake.svg');}
.fund::before {background-image: url('../img/icon-add-more-fund.svg');}
.select::before {background-image: url('../img/icon-user.svg');}
 
    .copy-how-it-work-list {
      list-style: none;
      padding: 0;
   
      width: 100%;
   
      display: flex;
 
     
  //  ACTIVE_SLIDER_LOGIC
  // slider-controls
      .copy-how-it-work-item.active
      .primary-state{display: none;}

      .copy-how-it-work-item.active {flex: 3;}

        .copy-how-it-work-item.active
        .main-slider-content {
          opacity: 1;
          transition: opacity .3s ease-in .4s;
        }
     
     
        .copy-how-it-work-item:not(.active) 
        .main-slider-content 
        .copy-how-it-work-description {display: none;}

      .copy-how-it-work-item:not(.active)
      .main-slider-content {
        opacity: 0;
        transition: opacity .2s ease-in ;
      }

      
      .copy-how-it-work-item:not(:first-child).active  {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start ;

      }
      
 
      .copy-how-it-work-item:first-child  {
        .copy-how-it-work-description  {max-width: 400px;}
       }

        .copy-how-it-work-item {
          width: 458.5px;
          height: 600px;

          color: var(--white);
          background-color: #0F082E;
        
          border-radius: 20px;
          border: 4px solid #fff;
          cursor: pointer;
          color: #ffff;

          flex: 1;

          padding: 2rem 30px;
          transition: all 500ms ease-in-out;

          overflow: hidden;

   
      // HIDE_MESSAGE_TO_OPEN_VIDEO_320
      .animation-bar {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        border-radius: 10px;

        .animation-container {
         
    
          .vid {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
          }

          p { display: none;}
        }
      }

          .primary-state {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        
            text-align: center;
            padding: 20px;
            opacity: 1;

            .primary-state-header p {font-size: 20px;}

            .primary-state-header {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.3;

              height: 75px;
          
              margin-bottom: 70px;
          }

          .primary-state-footer h2 {font-size: 50px;}
          .primary-state-footer p {
            font-size: 20px;
            font-weight: 300;
        }
           
        }

      

        .main-slider-content  {padding: 0 5px;}
    

          .copy-how-it-work-description {
            max-width: 320px;
            font-size: 14px;
            line-height:1.3;
            font-weight: 400;

            margin-bottom: 30px;
      

            .icon-description::before {
              display: inline-block;
              vertical-align: top;
              content: '';

              width: 30px;
              height: 40px;

              background-repeat: no-repeat;
            } 


              .line::after {
              display: inline-block;
              content: '';

              width: 1px;
              height: calc(100% - 20px );
              margin-left: 20px;

              background-color: #C4C4C4;
            }
            .nested-header {font-size: 1.25rem;}

            .nested-description {
              font-size: 0.875rem;
              line-height: 1.3;
            }
           
            .bottom-bar-list {
              list-style: none;
              padding: 0;

              display: grid;
              grid-template-columns: 1fr 3fr;
              justify-content: space-between;
              align-items: center;
              align-content: center;

              .bottom-bar-item:first-child .icon-right::after {right: 0;}
              .bottom-bar-item:first-child p {margin-top: -6px;}
              
              .icon-right {position: relative;}
              .icon-right::after {
                position: absolute;
                top: 0;
                right: -20px;

                content: '';

                width: 20px;
                height: 20px;


                background-image: url('../img/icon-right.svg');
                background-repeat: no-repeat;
              }
              .bottom-bar-item:nth-child(2) {
                font-size: 13px;
                 color: #FFD664;
              }
              .bottom-bar-item {
               .accent-slider-step {
                 font-size: 19px;
                 font-weight: 900;
                }
                span {font-size: 14px;}
              }
            }
         
          }
        }
      
       
    }
  }
   
   

}

.active-slider {
  width: 100%;
  height: 330px;


  background-color: aquamarine;
}


.try-out-copy-trading {
  padding-bottom: 100px;

  .email:hover, 
  .email:focus,
  .email {color: #100531;}


.try-copy-trading-footer p {margin-bottom: 70px;}
.try-copy-trading-header p {font-size: 20px;}
.try-copy-trading-header h2 {
  max-width:322px;
  font-size: 40px;
}

.try-out-wrapper {
  max-width: 461px;
 
}

.try-copy-trading-contacts-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding: 0;

  .icon-phone::before,
  .icon-email::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
   
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .icon-phone::before { background-image: url('../img/icon-phone.svg');}
  .icon-email::before { background-image: url('../img/icon-email.svg');}
}


.demo-registration-form {
  border-radius: 16px;
   padding: 40px;
   box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
   margin-top: -60px;
   background-color: #fff;
   .icon-get-in-touch::before {
     display: inline-block;
     vertical-align: middle;
     content: '';

     width: 30px;
     height: 40px;

     margin-right: 30px;

    background-image: url('../img/icon-get-in-touch.svg');
    background-repeat: no-repeat;
    background-position: center;
   }
}

//registration-form
.registration-form {
  h5 {
      text-transform: capitalize;
  }
  .input-field {
      position: relative;
      margin-bottom: 30px;
      label {
          display: flex;
          align-items: center;
          position: absolute;
          height: 38px;
          line-height: 1;
          margin: 0;
          top: 0;
          transition: all ease 0.3s;
          font-size: 16px;
          color: var(--grey900);
          z-index: 1;
      }

      .input-control,
      .empty {
          border: 1px solid var(--white);
          //			z-index: 2;
          border: 0;
          border-radius: 0;
          box-shadow: 0 1px 0 var(--grey300);
          padding-left: 0;
          padding-right: 180px;
          position: relative;
          margin: 0;
          background: none;
          font-weight: 900;
          &:focus,
          &.fill {
              + label {
                  top: -20px;
                  transition: all ease 0.3s;
                  font-size: 12px;
                  color: var(--blue500);
                  z-index: 1;
              }
          }
      }
      .form-help-text {
          position: absolute;
          height: 38px;
          display: none;
          align-items: center;
          text-align: right;
          top: 0;
          left: auto;
          right: 38px;
          bottom: 0;
          margin: 0;
          color: var(--grey400);
          &.text-red {
              color: var(--red500);
          }
      }
      select {
          z-index: 0;
          border: 1px solid var(--white) !important;
          border-radius: 0;
          box-shadow: 0 1px 0 var(--grey300);
          padding-left: 0;
          padding-right: 180px;
          position: relative;
          margin: 0;
          background: var(--white) url("../img/icon-dropdown.svg")
              no-repeat;
          background-position: calc(100% - 28px) center;
          background-size: 10px auto;
          font-weight: 900;
          appearance: none;

          &:focus,
          &.fill {
              border: 1px solid var(--white) !important;
              + label {
                  top: -20px;
                  transition: all ease 0.3s;
                  font-size: 12px;
                  color: var(--blue500);
                  border-color: transparent;
                  z-index: 3;
              }
          }
      }

      .btn-help {
          display: block;
          position: absolute;
          z-index: 10;
          top: 0;
          left: auto;
          right: 0;
          width: 38px;
          height: 38px;
          background: var(--white);
          box-shadow: 0;
          border-radius: 0;
          margin-left: auto;
          margin-right: 0;
          &:hover,
          &:focus,
          &:active {
              box-shadow: none;
          }
          &.info {
              background: url("../img/icon-info.svg") no-repeat center;
          }
      }
      .strength {
          margin-top: 5px;
          span {
              background: #dfffcd;
              color: #2c930c;
              display: inline-block;
              margin-right: 5px;
              border-radius: 4px;
              font-size: 12px;
              line-height: 1;
              padding: 4px 8px;
              &.red {
                  background: var(--red100);
                  color: var(--red900);
              }
          }
      }
      &.has-error {
          .form-help-text {
              display: flex;
          }
          .input-control {
              box-shadow: 0 1px 0 var(--red500);
          }
      }
      &.select-container small.form-help-text.text-red {
          right: 68px !important;
      }
  }
  .input-phone {
      position: relative;
      margin-bottom: 30px;
      .iti {
          width: 100%;
      }
      .iti__selected-flag {
          background: none;
          border: none;
          &:hover,
          &:focus,
          &:active {
              background: none !important;
              border: none;
              outline: none;
          }
      }
      label {
          display: flex;
          align-items: center;
          position: absolute;
          height: 38px;
          line-height: 1;
          margin: 0;
          top: 0;
          transition: all ease 0.3s;
          font-size: 16px;
          color: var(--grey900);
          z-index: 1;
          top: -20px;
          transition: all ease 0.3s;
          font-size: 12px;
          color: var(--blue500);
          z-index: 3;
      }

      input,
      .empty {
          border: 1px solid var(--white);
          z-index: 2;
          border: 0;
          border-radius: 0;
          box-shadow: 0 1px 0 var(--grey300);
          padding-left: 0;
          padding-right: 180px;
          position: relative;
          margin: 0;
          background: none;
          font-weight: 900;
          font-family: "Roboto-Bold";
          &::placeholder {
              color: var(--grey900);
              font-family: "Roboto-Bold";
          }
      }

      .form-help-text {
          position: absolute;
          height: 38px;
          display: none;
          align-items: center;
          text-align: right;
          top: 0;
          left: auto;
          right: 38px;
          bottom: 0;
          margin: 0;
          color: var(--grey400);
          &.text-red {
              color: var(--red500);
          }
      }
      .btn-help {
          display: block;
          position: absolute;
          top: 0;
          left: auto;
          right: 0;
          width: 38px;
          height: 38px;
          background: var(--white);
          box-shadow: 0;
          border-radius: 0;
          margin-left: auto;
          margin-right: 0;
          &:hover,
          &:focus,
          &:active {
              box-shadow: none;
          }
          &.info {
              background: url("../img/icon-info.svg") no-repeat center;
          }
      }
      &.has-error {
          .form-help-text {
              display: flex;
          }
      }
  }
  .pin-group {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      button {
          width: 120px;
          margin-right: 10px;
          &.btn-help {
              display: block;
              position: absolute;
              z-index: 10;
              top: 0;
              left: auto;
              right: 0;
              width: 38px;
              height: 38px;
              background: var(--white);
              box-shadow: 0;
              border-radius: 0;
              margin-left: auto;
              margin-right: 0;
              background: url('/img/icon-info.svg') no-repeat center;
          }
      }
      input {
          width: 120px;
          text-align: center;
          font-size: 1rem;
      }
      &.has-error {
          input {
              box-shadow: 0 1px 0 var(--red500);
          }
      }
  }
}

//verify-email
.verify-email {
  h3 {
      font-size: 24px;
      font-family: "Roboto-Bold";
  }
  h4 {
      font-size: 18px;
      font-family: "Roboto-Bold";
      margin-bottom: 15px;
  }
  p {
      line-height: 1.2;
  }
  .small {
      margin-bottom: 8px;
  }
}
//demo-registration-description
.demo-registration-description {
  padding-right: 60px;
}

//demo-registration-form
.demo-registration-form {
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  margin-top: -60px;
}

  .iti input, .iti input[type="text"], 
  .iti input[type="tel"] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 46px;
    margin-right: 0;
  }
 


  .iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px; 
}


.iti__selected-flag {
  background: none;
  border: none;

  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;

}

}





 

@media  (max-width:1200px) {
  .copy-how-it-work-section  {
    .copy-how-it-work-slider {
      .copy-how-it-work-list {
        .copy-how-it-work-item {
          .primary-state {
            padding: 0;
            .primary-state-header p {font-size: 1rem;}
          }
        }
      }
    }
  }
  
}

 
@media (max-width: 1198px) {

  
  .decor-section-3 {
    width: 100%;
    max-width: 100%;

    height: auto;
    background-position: 10px 11px;
 
  }
  
  .copy-features-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copy-features-section  {
 
  
    .copy-features-list {
      grid-template-columns: repeat(3, 268px);
      .copy-features-item:last-child {
        margin-top: 40px;
        height: max-content;

        .copy-header {
          display: none;
        }
      }
    }

     .copy-features-header::before {right: 190px;}
  }

  .copy-features-list .copy-features-item:nth-child(3) {margin-top: 20px;}
  .copy-features-list .copy-features-item:last-child {margin-top: -30px;}
 
  .copy-trading-platform-section {
    .copy-trading-platform-header {
      padding-top: 100px;
    }
  }
   

  .copy-how-it-work-section {
    &.shou::before{ 
      left: 215px;
      top: -90px;
    }
    .copy-how-it-work-description {
      margin-bottom: 50px!important;
      .line::after {margin-left: 0 !important;}
   }
 
  }
}
   

@media (max-width:991.98px) {
 .copy-how-it-work-item.active {flex:10!important;}
 .copy-how-it-work-item {padding: 2rem 20px!important;}


  .copy-features-section  {

    &.shou::before {
      top: -100px;
      left: 44%;
    }

    .copy-features-header::before {right: 60px;}

    .copy-features-list {
      grid-template-columns: repeat(2, 268px);
       
      .copy-features-item:last-child {margin-top: 20px;}
    }
}
  
  .try-out-copy-trading {
    .try-copy-trading-contacts-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .try-copy-trading-contacts-item:first-child { margin-bottom: 40px;}
    }
  }
  
.copy-how-it-work-section {

  .copy-how-it-work-slider {
    
    .copy-how-it-work-item.active  { float: 10!important;}

    .copy-how-it-work-item.active {
      max-width: 100%;
      width: 100%;
      min-height: 12vh;
    }

 
   .primary-state .primary-state-header p{font-size: 14px;}
 
  .copy-how-it-work-list .copy-how-it-work-item:not(:first-child).active {justify-content: flex-start;}
  
}
 
}

}



@media (max-width:767.98px) {

.main-slider-content .copy-how-it-work-description {margin-bottom: 100px;}

  .decor-section-3 {background-image: url('');}
  .decor-section-4 {background-position: -560px 110px;}
  
  .try-out-copy-trading .demo-registration-form {margin-top: 60px;}

  .copy-features-section  { 
    &.shou::before {left: 55%;}

    .copy-features-header::before { top: -50px;}
  }


.copy-trading-platform-section {
  padding: 0;

 &.shou::before {
  top: -180px;
  left: 500px;
 }

  .copy-trading-platform-header {
    margin-left: 0;
    padding: 0 1rem;
    text-align: center;
  }

}

.copy-features-header::before {
  top: -60px;
  left: 220px;
}

 
.copy-how-it-work-section  {
  .active {flex: none!important;}
  margin-bottom: 40px;

 


 &.shou::before {
    left: 14%;
    top: 30px;
  }
  

  // DISABLED_ACTIVE_FLEX
  .copy-how-it-work-item,
  .copy-how-it-work-item:not(.active),
  .copy-how-it-work-item.active {flex: none!important;}

   
 .copy-how-it-work-item:nth-child(2)
 .copy-how-it-work-description {
  margin-bottom: 64px !important;
 }
 
 
.bullet-point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .arrow-right::before,
    .arrow-left::before {
     position: relative;
      display: block;
      top: 4px;
      left: 0px;
      
      width: 10px;
      height: 10px;

      content:'\276E';
  
      color: var(--white);

      margin: 0 auto;
      text-align: center;
    }
 

    .arrow-right::before {content: '\276F';}
    .btn-slide:first-child { margin-right: 40px;}

.btn-slide p.active-btn {
  background-color:  #00b27d;
  transition: .2s ease-in;
  box-shadow: 0 15px 30px rgba(0, 145, 101, 0.301);
  border-radius: 50px;
  border: 2px solid #fff;
}

    .btn-slide{
      cursor: pointer;
  
      border: none;
      outline: none;
      background: none;
  
      padding: 0;
      margin: 0;
 

    
      p {
        display: block;
        width: 30px;
        height: 30px;
    
        background-color: var(--grey500);
        border-radius: 50%;
        border: transparent;
        transition: .2s ease-in-out;
      }
    
    }
 
    }
    

 .copy-how-it-work-slider
 .copy-how-it-work-list
 .copy-how-it-work-item:not(:first-child).active {display: block;}

 
.copy-how-it-work-slider
.copy-how-it-work-item.active {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  transition: 1s ease-in;

}


.copy-how-it-work-slider .copy-how-it-work-item.non-active {min-height: 0;}
 
  .copy-how-it-work-slider
  .copy-how-it-work-list {
    position: relative;
    left: 0;

    width: 1932px; 
    margin-bottom: 40px;

    transition: left .3s ease-in;
    
    .primary-state.active,
    .primary-state:not(.active) {display: none;}
  
    .copy-features-item.active,
    .copy-features-item:not(.active), 
    .copy-how-it-work-item:first-child
    .bottom-bar-list {
            .icon-right::after {right: 10px!important;}
          }
     
 
    .copy-how-it-work-item.active,
    .copy-how-it-work-item:not(.active){
      display: block;
      max-width: 100%;

      height: 600px;
      min-height: 0px;

      width: 458px;
      flex: none;

      .main-slider-content {
        opacity: 1;
        .copy-how-it-work-description {
          display: block;
          margin-bottom: 70px;
    
        }
      }
  
    }

  

   

  
  }

}

 



}



@media (max-width: 575.98px) {
  
 
  hr {
  width: 300px;
  margin: 0 auto;
  }

  .copy-trading-platform-section .first-row {margin-bottom: 100px;}
 

  .shou::before {
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .decor-section-4 {
    background-image: url('../img/decorative-elemet-section-4.png');
    background-position: -520px 110px;
  }

  .try-out-copy-trading .try-out-wrapper {max-width: 100%;}
  .try-out-copy-trading {
    text-align: center;
    .try-copy-trading-header h2{ margin: 0 auto;}
    .try-copy-trading-contacts {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  

  .decor-section-3 {
    background-image: url('');}


  .icon-wave::after {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .copy-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .narrow--container {
      max-width: 500px;
    }
  }

  .copy-features-section {
    padding: 0px;

    &.shou::before {
    left: 50%;
    top: -40px;
    }
    
    .copy-features-header {text-align: center;}
    .copy-features-header h2 { padding-left: 0;}
    .copy-features-header::before {
      left: 250px;
      top: -60px;  
    }


    .copy-features-wrapper {
      & .copy-btn {
        display: block;
        margin: 0 auto;
      }
      .copy-features-list {
       display: grid;
       grid-template-columns: repeat(1, 268px);
       grid-template-rows:none ;
       gap: 40px;

       justify-content: center;

       .copy-features-item:first-child {margin-top: 0;}
       .copy-features-item:nth-child(2) {margin-top: 0;}
       .copy-features-item:nth-child(3) {margin-top: 0;}
       .copy-features-item:last-child {margin-top: 0;}

       
       
     .copy-features-item:first-child::before { content: '';}
     .copy-features-item:nth-child(2)::before { content: ''; }
     .copy-features-item:nth-child(3)::before { content: ' ';}


       .copy-features-item {
         justify-content: center;
      
        .copy-body {
          text-align: center;
           p {    max-width: 100%;}
        }
       }
       
      
      }
    }
  }
 

  .copy-how-it-work-section {
      &.shou::before {
        left: 52%;
      top: -20px;
      }

    .copy-how-it-work-item {width: 477.5px;}

    .copy-how-it-work-header {
      text-align: center;
      padding-left: 0;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        p {
          text-align: center;
        }
      }
 
    }
    .bottom-bar-list {
      .bottom-bar-item p {max-width: 150px;}
      .icon-right::after {right: 40px !important;}
    }

     
  }


  .copy-trading-platform-banner {margin-bottom: 100px;}

  .copy-trading-platform-section {
    &.shou::before {
      top: -50px;
      left: 290px;
     }
    .copy-trading-platform-features-list {
      gap: 120px;
 
      .copy-trading-platform-features-item  {width: 100% ;}


      .icon-watch::after,
      .icon-user-trader::after,
      .icon-computer::after,
      .copy-trading-platform-features-item::before{ 
        left: 24px;
      top: -75px;
      rotate: 90deg;

      margin-top: -20px;

      }
 
      .icon-watch:hover::after,
      .icon-user-trader:hover::after,
      .icon-computer:hover::after {
        left: 50px!important;
        top: -50px;
   }

      .icon-watch::after,
      .icon-user-trader::after,
      .icon-computer::after {
        left: 10px;
        top: -50px;
        width: 34px;
        height: 34px;
        rotate: 720deg;
      }

    }
 
  
  }
  
  }

 
 @media (max-width: 320px) {

.animation-bar {
  position: relative;
 
 
   .animation-container.show-vid {
    top: -350px;
    transition: .3s ease-in;
  }

  .animation-container.show-vid .arrow-up::before{
    position: relative;
    rotate: 180deg;
    transition: .2s ease-in;
  }



  .arrow-up::before {
    display: block;
    margin: 0 auto;

    content: '';

    width: 20px;
    height: 20px;

    background-image: url('/img/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: .2s ease-in;
   
  }
}

.copy-hero-section h1 {font-size: 2rem;}

.try-out-copy-trading .try-copy-trading-header h2,
.copy-trading-platform-section .copy-trading-platform-header h2,
.copy-features-section .copy-features-header h2 {font-size: calc(1.325rem + .9vw);}
  
  .copy-btn {font-size: 1rem;}

  

  .bottom-bar {
    .bottom-bar-list {
      .icon-right::after {right: 0!important;}
    }
  }
 
 

  .copy-features-section {
    .copy-features-header::before {left: 130px;}
  }

  
  .copy-trading-platform-section {
  &.shou::before {
  top: -40px;
  left: 170px;
  }

  }

   .copy-how-it-work-section {
     &.shou::before {
      left: 50%;
      top: -20px;
     }
    
     .copy-how-it-work-slider {

      .copy-how-it-work-list {
        .main-slider-content {
          
        .copy-how-it-work-description {
        .line::after { display: none;}
        }

          .bottom-bar-list {
            grid-template-columns: 1fr!important;
            gap: 20px;
          }
        }
    

         // ACTIVE_CURRENT_LAST_WITH_HIS_WIDTH
        .copy-how-it-work-item:first-child .animation-container.show-vid {top: -350px;}
        .copy-how-it-work-item:first-child  {
          .animation-container {
            top: -22px;
            bottom: -30px;
            left: -11px;
            right: -11px;
            border-radius: 12px;
          }  
        }

          // ACTIVE_CURRENT_LAST_WITH_HIS_WIDTH
          .copy-how-it-work-item:nth-child(2) .animation-container.show-vid {top: -220px;}
          
          .copy-how-it-work-item:nth-child(2)  {
            .animation-container {
            top: 61px;
            left: -23px;
            bottom: -114px;
            right: -23px;
            border-radius: 12px;

            }  
          }

        // ACTIVE_CURRENT_LAST_WITH_HIS_WIDTH
        .copy-how-it-work-item:nth-child(3) .animation-container.show-vid {top: -216px;}
        .copy-how-it-work-item:nth-child(3)  {
          .animation-container {
            top: 156px;
            left: -11px;
            bottom: -209px;
            right: -11px;
            border-radius: 12px;
          }  
        }

        .copy-how-it-work-item:last-child .animation-container.show-vid {top: -350px;}
        .copy-how-it-work-item:last-child {
          .animation-container {
            top: -20px;
            left: -11px;
            bottom: -29px;
            right: -11px;
            border-radius: 12px;
          }  
        }



        
 
 


        .animation-container:not(.hide-vid ):not(.show-up) .vid {display: none;}
 
 
 
.animation-container {
  position: absolute;
  top: -70px;
  left: -12px;
  bottom: -230px;
  right: -11px;

border-radius: 10px;
 background-color: var(--white);

 transition: .3s ease-in;

 p {
  font-size: 12px;
  font-weight: 600;
  color: var(--grey900);
  margin-bottom:40px;
}
  
}
        
 

        .copy-how-it-work-item {width: 277.5px;}
        .copy-how-it-work-item:not(.active),
        .copy-how-it-work-item.active {
          width: 277.5px;
          height: auto;
        } 
       }
     }
      
   }
   
 }